name: docs

on:
  push:
    branches: [main]

permissions:
  actions: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  docfx:
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.output.page_url }}

    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          ref: main
          path: main

      # apparently this provides `dnx`
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: Build main
        run: dotnet build -c Release
        working-directory: main

      - name: Build docs
        run: dnx docfx --yes
        working-directory: main/docs
        continue-on-error: false

      - name: Upload assets
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/_site

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
